* {
    padding: 0;
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: border-box;
}

/* navigation bar */

.navigationPanel{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    height: 80px;
    background-color: #1299E8;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    font-size: 18px;
    font-weight: 90;
    cursor: pointer;
}

.box2 {
    cursor: pointer;

}

.box3 {
    display: flex;
    width: 650px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.searchBox {
    width: 610px;
    height: 40px;
    border: none;
    padding-left: 40px;
}

.searchIcon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #E2F4FF;
    color: #1299E8;
    border: none;
}

.box4 {
    display: flex;
    width: 160px;
    align-items: center;
    cursor: pointer;
}

.userIcon {
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    color: rgb(206, 194, 194);
    border: 1px solid white;

}

.user {
    font-size: 1rem;
    font-weight: 600;
    width: 110px;
    border: none;
    margin-left: 10px;
}

.userDown {
    font-size: 0.6rem;
    margin-left: 10px;
}

.box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cartText {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
}

/* Hero section */

.hero {
    padding-top: 80px;
    display: flex;
    height: 360px;
}

.leftHero {
    justify-content: left;
    background-color: rgb(245, 245, 245);
    height: 300px;
    width: 23%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 0.9rem;
    font-weight: 500;
}

.heroList li,
a {
    padding-bottom: 16px;
    padding-left: 25px;
    text-decoration: none;
    color: inherit;
}

.heroList a:hover {
    color: #1299E8;
    transition: linear 0.2s;
}

.rightHero {
    width: 80%;
    height: 350px;
    justify-content: right;
}

.heroImg {
    float: right;
    width: 100%;
    height: 360px;
}

/* Feature section */

.features {
    display: flex;
    margin: auto;
    width: 80%;
    height: 150px;
    justify-content: space-around;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featIcons {
    height: 100px;
    width: 100px;
    padding-top: 5px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 5px;
}

.featText {
    text-align: center;
    font-weight: 500;
}

/* Main products */


.mainProduct {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 20px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    cursor: pointer;
}

.prod {
    height: 350px;
    width: 360px;
    border: 0.5px solid rgba(89, 89, 89, 0.341);
    border-radius: 10px;
}

.prodImg {
    width: 360px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.prodImg:hover {
    transform: scale(1.01);
}

.prodTitle {
    color: rgb(49, 47, 47);
    text-align: left;
    font-size: 1.3rem;
    padding-left: 20px;
    padding-top: 10px;
}

.prodTitle:hover {
    color: #1299E8;
    transition: linear 0.2s;
}

.prodPrice {
    color: rgb(49, 47, 47);
    text-align: left;
    font-size: 0.9rem;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 500;
}

.hr1 {
    border-color: rgba(159, 159, 159, 0.093);
    filter: drop-shadow(0 4px 2px rgb(0, 0, 0));
}

/* Best Seller */
.bsSection {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    align-items: center;
    width: 80%;
}

.bsInfo {
    display: flex;
    align-items: center;
}

.bsImg {
    width: 80px;
    height: 80px;
    padding-right: 20px;
}

.bsText {
    font-size: 1.6rem;
}


.bsButton {
    font-weight: 500;
    height: 40px;
    width: 100px;
    color: #1299E8;
    background-color: white;
    border: 1px solid #1299E8;
    border-radius: 4px;
    cursor: pointer;
}

.bsButton:hover {
    background-color: #1299E8;
    border: 1px solid #1299E8;
    border-radius: 4px;
    color: white;
    transition: linear 0.1s;
}

.hr2{
    display: flex;
    width: 90%;
    margin: auto;
}

/* Products Section */

.productSection {
    cursor: pointer;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.leftArrow {
    display: flex;
    height: 450px;
    width: 10%;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    font-size: 25px;
    text-align: center;
}

.leftIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}


.rightArrow {
    display: flex;
    height: 450px;
    width: 10%;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    font-size: 25px;
    text-align: center;
}

.rightIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}

.rightIcon:hover{
    background-color: #1299E8;
    transition: linear 0.2s;
    color: white;
    border: 1px solid #1299E8;
}


.leftIcon:hover{
    background-color: #1299E8;
    transition: linear 0.2s;
    color: white;
    border: 1px solid #1299E8;
}



.productArea {
    display: flex;
    height: 450px;
    justify-content: space-between;
}

.products{
    width: 290px;
}


.productImg{
    width: 290px;
    transition: transform 0.2s ease-in-out;
}

.productImg:hover{
    transform: scale(1.01);
}

.productTitle{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
}

.productTitle:hover{
    color: #1299E8;
    transition: linear 0.3s;
    
}

.productPrice{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.mainPrice{
    padding-right: 20px;
    color: #1299E8;
    padding-left: 10px;
}

.discountedPrice{
    text-decoration: line-through;
    color: rgb(64, 64, 64);
}

.productReview{
    display: flex;
    align-items: center;
}

.productStar{
    font-size: 0.6rem;
    color: orange;
    padding-left: 10px;
}

.starNum{
    padding-left: 10px;
    font-size: 0.7rem;
}

.finalPage{
    margin-left: 150px;
    margin-right: 150px;
}

.finalPageTitle{
    padding-top: 20px;
    padding-bottom: 20px;
}

.finalPageDetails{
    padding-top: 30px;
}

.finalTitle{
    padding-bottom: 10px;
    font-size: 0.8rem;
    color: #8b8b8b;
}

.finalTitle strong{
    padding-left: 5px;
}

.finalData{
    padding: 5px;
    color: #959595;
    padding-bottom: 8px;
}

.finalData:hover{
    color: #1299E8;
    transition: linear 0.3s;
}

.blank{
    height: 30px;
}

/* Footer Section */

.row1{
    display: flex;
}

.footer{
    height: 400px;
    background-color: #002f4a;
    color: white;
}

.col1{
    font-weight: lighter;
    width:290px;
    padding: 30px;
    padding-left: 200px;
}

.col1 h4, .footTitle{
    font-weight: 500;
    padding-bottom: 10px;
}

.contact{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    font-weight: lighter;
    padding-left: 0;
}
.contact i{
    color: orangered;
}

.contact i, .contact p{
    align-items: flex-end;
}

.contact p{
    padding-left: 20px;
    font-weight: lighter;
}

.col2{
    padding-top: 30px;
    padding-left: 10px;
    width: 200px;
}

.col2 ul{
    list-style-type: none;
    padding-left: 0;
}

.col2 li{
    padding-bottom: 12px;
    font-weight: lighter;

}

.col2 a{
    padding-left: 0;
}

.col2 a:hover{
    color: #1299E8;
    transition: linear 0.2s;
}


.col3{
    padding-top: 30px;
    padding-left: 10px;
    width: 200px;
}

.col3 ul{
    list-style-type: none;
    padding-left: 0;
}

.col3 li{
    padding-bottom: 12px;
    font-weight: lighter;

}

.col3 a{
    padding-left: 0;
}

.col3 a:hover{
    color: #1299E8;
    transition: linear 0.2s;
}

.col4{
    padding-top: 30px;
    padding-left: 10px;
    width: 200px;
}

.col4 ul{
    list-style-type: none;
    padding-left: 0;
}

.col4 li{
    padding-bottom: 12px;
    font-weight: lighter;

}

.col4 a{
    padding-left: 0;
}

.col4 a:hover{
    color: #1299E8;
    transition: linear 0.2s;
}

.col5{
    padding-top: 30px;
    padding-left: 10px;
    width: 200px;
}

.col5 ul{
    list-style-type: none;
    padding-left: 0;
}

.col5 li{
    padding-bottom: 12px;
    font-weight: lighter;

}

.col5 a{
    padding-left: 0;
}

.hr4{
    height: 0.4px;
}

.finalFoot{
    display: flex;
    width: 80%;
    margin: auto;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.paymentInfo{
    display: flex;
    align-items: center;
}

.paymentText{
    padding-right: 20px;
}

.methods{
    background-color: white;
    width: 280px;
    padding-right: 10px;
    border-radius: 10px;
}

.methods img{
    padding: 5px;
}

.row2{
    font-weight: lighter;
}